<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../vue.js" type="text/javascript" charset="UTF-8"></script>
		<style type="text/css">
			#pane{
				width: 200px;
				height: 200px;
				background: skyblue;
			}
		</style>
	</head>
	<body>
		<!-- 视图 -->
		<div id="app"> 
			<h1>用户名: {{username}}</h1>
			<h3 v-if="isVip">用户类型: VIP</h3>
			<!-- 注意v-if 和 v-else中间不能有其他的元素 -->
			<!-- <div>中间内容</div> -->
			<h3 v-else> 用户类型: 普通用户</h3>
			
			<hr>
			
			<h1>用户允许登录时间</h1>
			<h3 v-if='age < 10'>小孩只能登录4小时</h3>
			<h3 v-else-if='10 <= age && age < 18'>青年可以登录8小时</h3>
			<h3 v-else>成人可以全天登录</h3>
			
			<div v-show="isShow" id="pane">
				HelloVue
			</div>
			<button @click="showPane">切换显示内容</button>
			
			<hr>
			课堂练习
			<hr>
			
			<h1 v-if="isHome==1">首页</h1>
			<h1 v-else-if="isHome==2">新闻页</h1>
			<h1 v-else="isHome">Pycharm</h1>
			
			<button @click="showHome">展示首页</button>
			<button @click="showNews">展示新闻页</button>
			<button @click="showPycharm">展示Pycharm页</button>
			
			<hr>
			课堂练习 - 另一种写法
			<hr>
			<button @click="tabChange" data-id="1">展示首页</button>
			<button @click="tabChange" data-id="2">展示新闻页</button>
			<button @click="tabChange" data-id="3">展示Pycharm页</button>
		</div>
		
		<script type="text/javascript"> 
			let app = new Vue({
				el: "#app",
				// Model
				data:{
					username: 'Forest',
					isVip: true,
					age: 18,
					isShow: true,
					isHome: 1,
					tab: 1
				},
				methods:{
					showPane:function(e){
						console.log(e)
						app.isShow = !app.isShow
					},
					showHome:function(e){
						this.isHome = 1
					},
					showNews:function(e){
						this.isHome = 2
					},
					showPycharm:function(e){
						this.isHome = 5
					},
					tabChange:function(e){
						console.log(e)
						let tabid = e.target.dataset.id
						console.log(this)
						console.log(app)
						// this.tab = tabid 和 app.tab = tabid等同
						this.isHome = tabid
					}
				}
			}) 
			
			/*
			v-if: 不显示时，第一次直接不渲染，如果内容已显示将其改为不显示，将内容直接去除，只是渲染1次的用v-if. (性能消耗更大)
			v-show: 不显示时，就会改为display:none, 但是会渲染在DOM上。 反复需要切换内容，使用v-show
			*/
		</script>
		
	</body>
</html>
